<div class="container">
    <p class="text-info"><h2>Please, verify your account by following the link on your <b>Email</b></h2></p>

    @Html.ActionLink("Got It!", "Index", "Main", null,new {@class = "btn btn-success" })
</div>